<%- include("header"); -%>
    <div class="box" id="heading">
        <h1><%= listTitle %></h1>

    </div>

    <div class="box">
        <% todoList.map(item => { %>
            <div class="item">
                <input type="checkbox">
                <p><%= item %></p>
            </div>
        <% }) %>
        <form class="item" action="/<%= page %>" method="post">
            <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
            <button type="submit" name="addBtn">+</button>
            <!-- <button type="submit" name="clearBtn">Clear all</button> -->
        </form>
    </div>
<%- include("footer"); -%> 
